@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --blue: #1A759F;
    --green: #7c77ac56;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.load {
    text-align: center;
}

body,
input[type='button'] {
    font-family: 'Righteous', cursive;
    position: relative;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    height: 14vh;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.514);

}


.favoriteRecipes h2 {
    text-align: center;
    color: var(--blue);
    padding: 1rem 0;

}

#favoriteRecipes {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--green);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;

}

.favoriteRecipe {
    cursor: pointer;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
}

.favoriteRecipe button {
    z-index: 5;
    right: 3px;
    width: 1rem;
    position: absolute;
    border: none;
    font-weight: bold;
    background-color: transparent;
    opacity: 0;
    font-size: 1.5rem;
}

.favoriteRecipe:hover button {
    opacity: 1;
    cursor: pointer;


}

.favoriteRecipe button:hover {
    color: red;


}

.favoriteRecipe p {
    padding: 0.5rem;
    text-align: center;
}



.favoriteRecipe--img-b {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(144, 38, 232) 0%, rgb(7, 31, 218) 100%);
    position: relative;
    animation: turn 6s linear infinite;
    -webkit-animation: turn 6s linear infinite;
}

.favoriteRecipe--img {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: none;


}

@keyframes turn {
    to {
        transform: rotate(0);
    }

    from {
        transform: rotate(-360deg);
    }

}

.favoriteRecipe--img img {

    width: 100%;
    height: 100%;

}


#search {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 2rem 0;
    cursor: pointer;

}

#search .search--header {
    font-weight: bold;
}

#search button {
    font-size: 1.8rem;
    padding: 0.3rem;
    border: none;
    background-color: white;
    padding-left: 0.5rem;
    border-radius: 8px;
}

#search button:hover {
    background-color: #21759c28;

}



#search input {
    background-color: var(--blue);
    border-radius: 0.5rem;
    border: 3px solid black;
    width: 80%;
    margin-top: 0.5rem;
    height: 2.2rem;
    padding: 0.25rem;
    transition: all 0.3s ease;
    /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.753); */
    padding-left: 1rem;
    font-size: 1.5rem;
}

#search input:focus {
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.527);
    outline: none;
    transform: scale(1.05, 1.1);
}

#search input::placeholder {
    color: rgba(231, 226, 226, 0.904);
    font-size: 1.5rem;
}


.recipe {
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
    background-color: var(--green);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
    margin: 0 5% 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.recipe:hover {
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.425);
    border-radius: 1.5rem;
    transform: scale(1.02);

}

.recipe--img {
    width: 100%;

}

.recipe--img img {

    height: 100%;
    width: 100%;

}

.recipe--container {
    padding: 0.5rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe--container p {
    text-align: center;
}

.recipe--container button {
    cursor: pointer;
    width: 3rem;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    color: var(--blue);
}

input[type='button'] {
    display: inline;
    margin-top: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.3rem;
    color: black;

}


.recipe:hover input[type='button'] {

    color: var(--blue);

}

.recipe--container button:hover {

    color: red;
    transform: scale(1.2);
}

#full {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;


}

#full h2 {
    text-align: center;
    font-size: 1.8rem;

}

#full h2:hover {
    color: white;

}

#full li {
    list-style: none;
    margin: 0.15rem;

}

.full--img {
    margin-top: 1rem;
    align-self: center;
    display: block;
    width: 100%;
    
}

#full {
    position: relative;
    margin: 3rem 0;

}

#btnBack {
    cursor: pointer;
    top: -3rem;
    width: 2rem;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    left: 1.6rem;
    background-color: transparent;
    color: var(--blue);
    border: none;

}

#btnBack:hover {
    transform: scale(1.2);
    color: red;

}

.full--img img {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
}

.full--container {

    margin-top: 5rem;
    padding: 0;
    position: relative;
}

.full--container h2 {
    background-color: var(--blue);
    color: black;
    font-weight: 100;
    cursor: pointer;
}



.instructions h2 {
    text-align: center;
}

/* .top {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
} */
.instructions {
    position: absolute;
    width: 100%;
    right: 0;
    text-align: center;

}

.instructions h2 {
    position: absolute;
    right: 0;
    top: -5.3rem;
    width: 50%;
    padding: 0.2rem 0;
    border: 2px solid black;


}

.ingridients {
    position: absolute;
    width: 100%;
    text-align: center;

}

.ingridients h2 {
    text-align: center;
    position: absolute;
    left: 0;
    top: -5.3rem;
    width: 50%;
    padding: 0.2rem 0;
    border: 2px solid black;


}

.nutrition {
    position: absolute;
    width: 100%;
    text-align: center;
}

.nutrition h2 {
    text-align: center;
    position: absolute;
    top: -3rem;
    width: 100%;
    padding: 0.3rem 0;


}


.instructions ul,
.ingridients ul,
.nutrition ul {
    opacity: 0;
    margin-bottom: 2rem;
}

.instructions h2.hidden+ul,
.ingridients h2.hidden+ul,
.nutrition h2.hidden+ul {
    opacity: 1;
}


.instructions {
    margin-bottom: 1rem;
}

#recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 250px));

}

@media only screen and (min-width:500px) {
    .full--img {
        display: block;
        width: 70%;
    }

    #favoriteRecipes {
        margin-top: 2rem;
        padding: 1rem;
        background-color: var(--blue);
        display: grid;

    }

    .favoriteRecipe--img {

        border: solid 0.25rem white;
    }


}

@media only screen and (min-width:950px) {

    #container,
    #containerSearch {
        max-width: 951px;
        margin: auto;

    }

    .full--img {
        display: block;
        width: 100%;
        max-width: 900px;
    }

    #favoriteRecipes {
        margin-top: 2rem;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    #btnBack {
        left: 0;
    }

}

.recipe--container button.favorite,
.favorite {
    color: red;
    transform: scale(1.2);

}

#containerSearch {
    height: 180px;
    animation: search 0.5s linear;
}

@keyframes search {
    0% {
        opacity: 0;
        transform: scaleX(0);

    }



    100% {
        opacity: 1;
        transform: scaleX(1);

    }

}

#container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

}

.explanation {
    text-align: center;
    position: absolute;

    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 2rem;
    animation: explanation 0.6s ease-in-out;

}

.explanation h3,
.explanation h4 {
    margin: 0.3rem 0;

}

.explanation i {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    animation: heart 3s ease-in-out infinite;
    perspective: 30px;
}

@keyframes heart {
    to {
        transform: rotateY(0);

    }

    from {
        transform: rotateY(360deg);

    }

}

@keyframes explanation {
    0% {
        transform: scaleX(0);

    }

    70% {
        transform: scaleX(1.1);

    }

    85% {
        transform: scaleX(0.9);

    }

    100% {
        transform: scaleX(1);

    }
}

.favoriteRecipe--img {
    border: 4.7px solid transparent;
}

#recipes {
    min-width: 300px;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}